{% extends 'PDEBundle:Default:base_layout.html.twig' %}
{% block title %}Help{% endblock %}

{% block content %}
    {% include 'PDEBundle:Default:navbar.html.twig' %}
    <div class="row row-fill">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3 class="center-heading">Help section</h3>
            <div class="panel panel-default">
                <div class="panel-heading"><b>What is this application?</b></div>
                <div class="panel-body">
                    <p>
                        The Parser Development Environment is a web application that allows you to create parsers using
                        <a href="https://www.gnu.org/software/bison/" title="GNU Bison official page" target="_blank">GNU Bison</a>
                        and <a href="https://github.com/westes/flex" title="Flex official Github page" target="_blank">Flex</a>.
                        Since this is a cloud-based application, there is no need to install any tools on your computer
                        and maintain or update them. All the work is done in the cloud and stays there, meaning you can
                        access your projects and work on them from any device.
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><b>How do I create an account?</b></div>
                <div class="panel-body">
                    <p>
                        An account is created the <b>first time you log in</b> the application successfully using your
                        CEID email address and credentials. Your credentials are not stored in the application backend.
                        As a result, you will still be able to log into your account, even if your webmail password is modified.
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><b>Team management</b></div>
                <div class="panel-body">
                    <p>
                        Once you register, you get redirected to the account page. In this page you can manage your team,
                        doing the following:
                    </p>
                    <ul>
                        <li>Create a team</li>
                        <li>Leave your team</li>
                        <li>Delete your team</li>
                        <li>Add new members to your team</li>
                    </ul>
                    <p>
                        In order to use the application, you need to have a team, even if you are on your own. Every project
                        (workspace) you create belongs to your team. The number of members allowed in a team is specified
                        by the administrators. You can add new members to your team, as long as they have already registered
                        to the application and do not have a team of their own. If you are the only member of a team, you
                        can delete the team (along with any workspaces created by the team). If you want to join a team,
                        an existing member of the team will have to add you using the <b>Add members to my team</b> option.
                    </p>
                    <p>
                        Administrators can disable team modifications, meaning that you will not be able to
                        create, delete, join or leave a team thereafter.
                    </p>
                    <p>
                        In the account page you can also see a list of your team members, as well as active deadline dates
                        (if any).
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><b>The editor</b></div>
                <div class="panel-body">
                    <p>
                        Having created/joined a team, you can move to the editor. In the editor you can create new workspaces
                        and add files to them.
                    </p>
                    <p>
                        <b>Important Notes:</b>
                    </p>
                    <ol>
                        <li>
                            In the context of the course projects, each workspace stands for one subtask of the project.
                        </li>
                        <li>
                            Each team member can modify the team's workspaces. The changes are <b>not</b> automatically
                            reflected in active editors of other team members. Be careful when you modify existing
                            workspaces.
                        </li>
                    </ol>
                    <p>
                        Every time you load the editor, you can <i>select</i> or <i>clone</i> an existing workspace or <i>create</i> a new one.
                        You can get back to this view by clicking the <b>Select workspace</b> button.
                        Cloning a workspace, will create a new one that is identical to the parent workspace. The maximum
                        number of workspaces is specified by the administrators, as well as the maximum number of files in
                        each workspace.
                    </p>
                    <p>
                        Editor options:
                    </p>
                    <dl id="help-editor-options" class="dl-horizontal">
                        <dt>File</dt>
                        <dd>
                            Create, rename or delete a file, rename the current workspace. Allowed file extensions are <b>.y</b>
                            (GNU Bison files), <b>.l</b> (Flex files), <b>.txt</b> (text files), <b>.tab.c</b> (Bison parser code),
                            <b>.tab.h</b> (Bison parser defines header files), <b>.yy.c</b> (lexer files) and <b>.out</b> (executable files) files.
                            You can manually create or edit .y, .l and .txt files only. The rest of the files are generated
                            by the Bison, Flex and GCC tools and cannot be modified.
                        </dd>
                        <dt>Save</dt>
                        <dd>
                            Save the current workspace. As mentioned earlier, you will have to be careful for changes made
                            by other team members on the same workspace and its files.
                        </dd>
                        <dt>Reload</dt>
                        <dd>
                            Reload the current workspace, reverting all files to the last saved state. Any unsaved files or
                            changes will be permanently lost.
                        </dd>
                        <dt>Download</dt>
                        <dd>
                            Download the current workspace and all of its contents in a zip archive.
                        </dd>
                        <dt>Delete</dt>
                        <dd>
                            Permanently delete the current workspace.
                        </dd>
                        <dt>Tools</dt>
                        <dd>
                            Use one of the Bison, Flex, GCC, or the parser you have created. In order to use your parser
                            (.out file) you need to create a .txt file and the file must currently be selected. Each time
                            you use of the tools, the output log pops up, giving you information about the executed command
                            and its output (if any).
                        </dd>
                        <dt>Configure tools</dt>
                        <dd>
                            Select command line style options for Bison and Flex. All options that might be of use in the context
                            of your project are available in this section. Every time you reload the editor, the options
                            are reset. Otherwise the options will remain the same, even if you select another workspace.
                            By default, only the <b>-d</b> Bison option is selected.
                        </dd>
                    </dl>
                    <p>
                        Should you need any help with the available Bison and Flex options and their use cases, please refer to their official
                        documentation <a href="https://www.gnu.org/software/bison/manual/" target="_blank" title="GNU Bison documentation">here</a>
                        and <a href="https://github.com/westes/flex" target="_blank" title="Flex documentation">here</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- include functionality from parent template -->
    {{ parent() }}
{% endblock %}
