# Application default parameters
parameters:
    database_host:     localhost
    database_port:     3306
    database_name:     pde
    database_user:     root
    database_password: root

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Default values for configurable application settings. Only admins have access to these through the admin panel.
    default_settings:
        team_members:
            value: 4
            type: 'int'
            description: 'Maximum number of team members'
        max_team_workspaces:
            value: 5
            type: 'int'
            description: 'Maximum number of workspaces per team'
        max_workspace_files:
            value: 10
            type: 'int'
            description: 'Maximum number of files per workspace'
        imap_server_host:
            value: 'mail.server.com'
            type: 'str'
            description: 'The IMAP server host against which users are authenticated'
        imap_server_port:
            value: 993
            type: 'int'
            description: 'The IMAP server port (must be set to 993 for SSL connection)'
        webmail_domain:
            value: 'domain.com'
            type: 'str'
            description: 'The domain of the users email addresses (no http/https protocol or www prefix should be used)'
        registrations_enabled:
            value: 1
            type: 'int'
            description: 'Setting for enabling/disabling new registrations'
        team_modifications_enabled:
            value: 1
            type: 'int'
            description: 'Setting enabling/disabling create/delete/join/leave team operations'
        edit_operations_enabled:
            value: 1
            type: 'int'
            description: 'Indicates whether or not users are allowed to modify their workspaces and files'
        deadline:
            value: ''
            type: 'date'
            description: 'Date when team and workspace modifications will be disabled'
        docker_image_name:
            value: 'pde-command-container'
            type: 'str'
            description: 'The Docker image that is used for running commands in an isolated environment'
        storage_root:
            value: '/path/to/persistent/storage'
            type: 'str'
            description: 'File system path where all users workspace files are stored'
