# Application default parameters
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # A list of the paths to the bison/flex/gcc tools.
    resource_map:
        bison: /path/to/bison/binary
        flex: /path/to/flex/binary
        gcc: /path/to/gcc/binary

    # Default values for configurable application settings. Only admins have access to these through the admin panel.
    default_settings:
        team_members:
            value: 4
            description: "Maximum number of team members"
        max_team_workspaces:
            value: 5
            description: "Maximum number of workspaces per team"
        max_workspace_files:
            value: 10
            description: "Maximum number of files per workspace"
        imap_server_host:
            value: mail.server.com
            description: "The IMAP server host against which users are authenticated"
        imap_server_port:
            value: 993
            description: "The IMAP server port (must be set to 993 for SSL connection)"
        webmail_domain:
            value: domain.com
            description: "The domain of the users' email addresses (no https/https protocol or www prefix should be used)"
        registrations_enabled:
            value: 1,
            description: "Setting for enabling/disabling new registrations"
        team_modifications_enabled:
            value: 1
            description: "Setting enabling/disabling create/delete/join/leave team operations"
        storage_root:
            value: "/path/to/persistent/storage"
            description: "File system path where all users' workspace files are stored"
