# Application default parameters
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    # The path where all users' workspace files should be stored
    files_directory: /path/to/persistent/storage

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # The domain where the users' email addresses belong
    # No https/https protocol or www prefix should be used.
    webmail_domain: domain.com

    # The IMAP server host:port combination. Users will be authenticated against their mailbox.
    imap_server_host: mail.server.com
    imap_server_port: 993
