<!--  -->
<footer class="footer">
    <div class="container">
        <div id="landing-page-footer" class="container-fluid">
            <div class="col-md-4">
                <p><a href="http://athos.ceid.upatras.gr/arxes_glwsswn" target="_blank">Course page (CEID_Y132)</a></p>
            </div>
            <div class="col-md-4"><p><a href="mailto:fpapadopou@ceid.upatras.gr">Contact</a></p></div>
            <div class="col-md-4">
                <p><a target="_blank" href="https://bitbucket.org/fpapadopou/wide">
                        Available on Bitbucket <i class="fa fa-bitbucket-square" aria-hidden="true"></i>
                </a></p>
            </div>
        </div>
    </div>
</footer>