<!-- A modal that pops up when an operation is completed. -->
<div class="modal fade" id="info-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog info-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="info-modal-body">

            </div>
            <div class="modal-footer" id="info-modal-footer">
                <p>Something went wrong. Please reload the page.</p>
                <button class="btn btn-default btn-sm" data-dismiss="modal">Stay</button>
                <button class="btn btn-default btn-sm" onclick="location.reload();">Reload</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->