<!-- Create team section -->
<div class="list-group">
    <a id="create-team" class="list-group-item inactive">
        <h4 class="list-group-item-heading">Create a team</h4>
        <p class="list-group-item-text">In order to proceed, you need to create a team. You can also add members to your team.</p>
    </a>
</div>
<div class="team-action" id="action-create-team">
    <button class="btn btn-default" id="create-team-btn">Create team</button>
</div>
<!-- End create team section -->
<!-- Leave team section -->
<div class="list-group">
    <a id="leave-team" class="list-group-item inactive">
        <h4 class="list-group-item-heading">Leave my team</h4>
        <p class="list-group-item-text">You can always leave your current team. You will lose access to all the team's workspaces.</p>
    </a>
</div>
<div class="team-action" id="action-leave-team">
    <button class="btn btn-default" id="leave-team-btn">Leave current team</button>
</div>
<!-- End leave team section -->
<!-- Delete team section -->
<div class="list-group">
    <a id="delete-team" class="list-group-item inactive">
        <h4 class="list-group-item-heading">Delete my team</h4>
        <p class="list-group-item-text">You can delete your team and all of its workspaces. You have to be the last member of the team. The action is irreversible.</p>
    </a>
</div>
<div class="team-action" id="action-delete-team">
    <button class="btn btn-default" id="delete-team-btn">Delete my team</button>
</div>
<!-- End delete team section -->
<!-- Add team member section -->
<div class="list-group">
    <a id="add-member" class="list-group-item inactive">
        <h4 class="list-group-item-heading">Add members to my team</h4>
        <p class="list-group-item-text">You can search for other people and add them to your team, as long as they don't already have a team.</p>
    </a>
</div>
<div class="team-action" id="action-add-member">
    <form>
        <input type="email" id="add-to-team-input" class="form-control" required placeholder="Enter a user's email">
        <button type="submit" id="add-member-btn" class="btn btn-default">Add to team</button>
    </form>
</div>
<!-- End add team member section -->