<!-- Modal used in file creation -->
<div class="modal fade" id="file-creation-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create a new file</h4>
            </div>
            <div class="modal-body">
                <p>
                    Allowed file extensions are <b>.y</b> (GNU Bison files), <b>.l</b> (Flex files),
                    and <b>.txt</b> (parser input files).
                </p>
                <input type="text" id="file-creation-modal-input" class="form-control" placeholder="file name">
                <button id="file-creation-modal-btn" class="btn btn-success btn-small create-file-modal-btn">
                    <i class="fa fa-plus"></i> Create file
                </button>
            </div>
            <div class="modal-body">
                <p id="file-upload-msg">File uploads not available</p>
                <input type="file" id="file-upload-input" class="form-control">
                <button id="file-upload-modal-btn" class="btn btn-success btn-small create-file-modal-btn">
                    <i class="fa fa-upload"></i> Upload file
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default btn-small" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->