<!-- Modal used in file deletion -->
<div class="modal fade" id="file-delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete selected file <i><span id="delete-file-placeholder"></span></i></h4>
            </div>
            <div class="modal-body">
                <button id="file-delete-modal-btn" class="btn btn-danger btn-small">
                    <i class="fa fa-trash-o"></i> Delete file
                </button>
                &nbsp;
                <button class="btn btn-default btn-small" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->