<!-- Modal used when renaming a workspace -->
<div class="modal fade" id="wspace-rename-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rename current workspace <i><span id="rename-wspace-placeholder"></span></i></h4>
            </div>
            <div class="modal-body">
                <input style="width: 60%;" type="text" id="wspace-rename-modal-input" class="form-control" placeholder="new workspace name">
            </div>
            <div class="modal-footer">
                <button id="wspace-rename-modal-btn" class="btn btn-success btn-small">
                    <i class="fa fa-pencil"></i> Rename workspace
                </button>
                &nbsp;
                <button class="btn btn-default btn-small" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->