html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    background-color: #F1F2F3;
    font-family: LLCircularWeb-Bold, sans-serif;
}

.page-header {
    text-align: center;
}

#landing-page-content {
    margin-top: 50px;
}

#main-navbar {
    background-color: #004d66;
}

.navbar-default .navbar-brand {
    text-align:center;
    color: #dadada;
}

.navbar-right {
    margin-top: 10px;
    margin-right: 5px;
    float: right;
}

#logged-in-as {
    color: white;
    font-size: small;
}

#account-icon {
    font-size: small;
    opacity: 0.9;
    border-radius: 15px;
}

#flash-error {
    text-align: center;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

footer {
    background-color: #004d66;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

footer > div {
    text-align: center;
}

#landing-page-footer {
    padding-top: 15px;
    color: #dadada;
}

#landing-page-footer a {
    color: #dadada;
}

#landing-page-footer a:hover {
    color: #5e5e5e;
    text-decoration: none;
}

.tooltip-inner {
    /* A note: bootstrap tooltips are hidden if placed within elements with a "relative" position attribute */
    max-width: 250px;
    white-space: pre;
}

/** Bootstrap row elements with full width **/
.row-fill {
    width: 100%;
}
/** Bootstrap row elements with full width **/

/** Editor page content **/
#editor-page-content {
    display: block;
    padding: 0;
    width: 100%;
    margin: 0;
}

@media (max-height: 850px) {
    #editor-page-content {
        height: 600px;
    }
}

@media(min-height: 850px){
    #editor-page-content {
        height: 90%;
    }
}

/** Editor left and right panes **/
#editor-left-side {
    display: inline-block;
    position: relative;
    height: 100%;
}

#editor-right-side {
    display: inline-block;
    height: 100%;
}
/** Editor left and right panes end **/

/** Left pane controls & buttons **/
#workspace-name-container {
    overflow: scroll;
    max-height: 60px;
}

#workspace-name {
    text-align: center;
    text-shadow: 1px 1px #ddd;
    word-break: break-all;
}

#controls {
    height: auto;/*80%;*/
}
.ctrl-group {
    display: block;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}

.ctrl-group-btn {
    width: 140px;
    margin-bottom: 5px;
}

.ctrl-btn {
    display: block;
    width: 140px;
    margin: 0 auto 5px auto;
}

#toggle-on-icon {
    display: none;
}

#toggle-off-icon {
    display: inline-block;
}

#trigger-modal-btn {
    /*display: block;*/
    width: 180px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    bottom: 2%;

}

.has-shadow {
    box-shadow: 1px 1px 1px 1px #ddd;
}

#save-success {
    display: none;
}

#working-indication {
    display: none;
    width: 140px;
    text-align: center;
    margin: auto;
}
/** Left pane controls & buttons end **/

/** Modals position **/
.modal-dialog {
    top: 20%;
}
/** Modals position end **/

/** Tool configuration modal **/
@media (max-width: 1360px) {
    #tool-configuration-modal > .modal-dialog {
        width: 90%;
    }
}

@media (min-width: 1360px) {
    #tool-configuration-modal > .modal-dialog {
        width: 70%;
    }
}

@media (max-height: 850px) {
    #tool-configuration-modal > .modal-dialog {
        top: 0;
    }
    #bison-config, #flex-config, #gcc-config {
        height: 350px;
    }
}

@media(min-height: 850px){
    #tool-configuration-modal > .modal-dialog {
        top: 5%;
    }
    #bison-config, #flex-config, #gcc-config {
        height: 550px;
    }
}

.panel-body {
    height: 100%;
}

.panel-body-scrollable {
    height: 80%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.command-prompt {
    overflow-x: scroll;
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        width: 180px;
    }
    .dl-horizontal dd {
        margin-left: 190px;
    }
}

.accordion-title:link, .accordion-title:visited, .accordion-title:hover, .accordion-title:active {
    text-decoration: none;
}

input[class$='-arg-input'] {
    display: none;
    width: 35%;
}
/** Tool configuration modal end **/

/** File navigation (nav list) **/
#file-tab-list {
    background: #BCC9D6;
    border-radius: 5px 5px 0 0;
    /* The properties below will make the tab list scrollable when there are many files in it */
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
}

.nav-tabs > li {
    float: none;
}

.nav-tabs > li > a {
    color: #62615C;
}

.nav-tabs > li > a:hover {
    background-color: #D5DBDB;
}

.nav-tabs > li.active > a:hover {
    background-color: #D5DBDB;
}

.nav-tabs > li.active > a {
    background-color: #D5DBDB;
}
/** File navigation (nav list) end **/

/** Ace editor section **/
#editor-container {
    display: block;
    position: inherit;
    height: 96%;
}

#generated-file-note {
    position: absolute;
    display: none;
    top: 5%;
    right: 0;
    z-index: 5;
}

#editor.full-size {
    height: 100%;
    border-radius: 0 0 5px 5px;
}

#editor.half-size {
    height: 65%;
    border-radius: 0;
}

#output-section.active {
    position: absolute;
    bottom: 0;
    height: 35%;
    width: 100%;
    margin: 0;
    overflow: scroll;
    z-index: 4;
    border-radius: 0 0 5px 5px;
}

#output-section.inactive {
    display: none;
}
/** Ace editor section end **/

/** Crete file modal **/
#file-creation-modal-input {
    width: 40%;
    display: inline-block;
}

#file-upload-input {
    width: 40%;
    display: inline-block;
}

.create-file-modal-btn {
    margin-bottom: auto;
    display: inline-block;
}

#file-upload-msg {
    display: none;
}
/** Create file modal end **/

/** Account page **/
.team-action {
    display: none;
    /** TODO: might have to review this **/
    margin-top: -3%;
    margin-bottom: 2%;
}

#team-container {
    padding-top: 5%;
}

#add-to-team-input {
    display: inline;
    width: 60%;
}

#add-member-btn {
    display: inline;
    margin-bottom: 2px; /** Not sure about this **/
}

#account-container {
    padding-top: 12%;
    padding-left: 10%;
}

.info-modal-dialog {
    top: 30%;
}

#info-modal-body {
    text-align: center;
}

#go-to-editor-btn {
    width: 130px;
}
/** Account page end **/

/** Admin page **/
.setting-well {
    display: none;
    margin: 0;
}

.setting-input-int {
    display: inline;
    width: 15%;
}

.setting-input-string {
    display: inline;
    width: 40%;
}

.setting-input-date {
    display: inline;
    width: 40%;
}

.submit-setting {
    display: inline;
}

.search-text-input {
    display: inline;
    width: 30%;
}

.search-date-input {
    display: inline;
    width: 20%;
}

.center-heading {
    text-align: center;
}

.team-editor-link {
    float: right;
}
/** Admin page end **/

/** Team search page */
div.navigation {
    text-align: center;
}
/** Team search page end */
