html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    background-color: #F1F2F3;
    font-family: LLCircularWeb-Bold, sans-serif;
}

.page-header {
    text-align: center;
}

#landing-page-content {
    margin-top: 50px;
}

#main-navbar {
    background-color: #004d66;
}

.navbar-default .navbar-brand {
    text-align:center;
    color: #dadada;
}

.navbar-right {
    margin-top: 10px;
    margin-right: 5px;
    float: right;
}

#logged-in-as {
    color: white;
    font-size: small;
}

footer {
    background-color: #004d66;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

footer > div {
    text-align: center;
}

#landing-page-footer {
    padding-top: 15px;
    color: #dadada;
}

#landing-page-footer a {
    color: #dadada;
}

#landing-page-footer a:hover {
    color: #5e5e5e;
    text-decoration: none;
}

.tooltip-inner {
    /* A note: bootstrap tooltips are hidden if placed within elements with a "relative" position attribute */
    max-width: 250px;
    white-space: pre;
}

/** Editor page content **/
#editor-page-content {
    display: block;
    padding: 0;
    height: 600px;
    width: 100%;
    margin: 0;
}

/** Editor left and right panes **/
#editor-left-side {
    display: inline-block;
    height: 100%;
}

#editor-right-side {
    display: inline-block;
    height: 100%;
}
/** Editor left and right panes end **/

/** Left pane controls & buttons **/
#workspace-name {
    text-align: center;
    text-shadow: 1px 1px #ddd;
}

#controls {
    height: 84%;
}
.ctrl-group {
    display: block;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}

.ctrl-group-btn {
    width: 140px;
    margin-bottom: 5px;
}

.ctrl-btn {
    display: block;
    width: 140px;
    margin: 0 auto 5px auto;
}

#toggle-on-icon {
    display: none;
}

#toggle-off-icon {
    display: inline-block;
}

#trigger-modal-btn {
    display: block;
    margin: 0 auto;
}

.has-shadow {
    box-shadow: 1px 1px 1px 1px #ddd;
}
/** Left pane controls & buttons end **/

/** File navigation (nav list) **/
#file-tab-list {
    background: #BCC9D6;
    border-radius: 5px 5px 0 0;
    /* The properties below will make the tab list scrollable when there are many files in it */
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
}

.nav-tabs > li {
    float: none;
}

.nav-tabs > li > a {
    color: #62615C;
}

.nav-tabs > li > a:hover {
    background-color: #D5DBDB;
}

.nav-tabs > li.active > a:hover {
    background-color: #D5DBDB;
}

.nav-tabs > li.active > a {
    background-color: #D5DBDB;
}
/** File navigation (nav list) end **/

/** Ace editor section **/
#editor-container {
    display: block;
    height: 96%;
}

#editor {
    height: 96%;
    border-radius: 0 0 5px 5px;
}

#output-section.active {
    position: relative;
    bottom: 35%;
    height: 34%;
    width: 100%;
    overflow: scroll;
    z-index: 4;
    border-radius: 0 0 5px 5px;
}

#output-section.inactive {
    display: none;
}
/** Ace editor section end **/

/** Account page **/
.team-action {
    display: none;
    /** TODO: might have to review this **/
    margin-top: -3%;
    margin-bottom: 2%;
}

#team-container {
    padding-top: 5%;
}

#add-to-team-input {
    display: inline;
    width: 60%;
}

#add-member-btn {
    display: inline;
    margin-bottom: 2px; /** Not sure about this **/
}

#account-container {
    padding-top: 12%;
    padding-left: 10%;
}

.info-modal-dialog {
    top: 30%;
}

#info-modal-body {
    text-align: center;
}

#go-to-editor-btn {
    width: 130px;
}

#delete-account-message {
    padding: 7%;
}
/** Account page end **/
