<!-- Account management section -->
<div>
    <p> Registered on {{ registration_date }}</p>
    <p> Your email adddress is {{ email }}</p>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle has-shadow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Delete account
    </button>
    <ul class="dropdown-menu">
        <li>
            <p>There is no going back. You will lose access to your account and your team.</p>
        </li>
        <li role="separator" class="divider"></li>
        <li><a class="btn btn-danger"> Delete my account </a></li>
    </ul>
</div>
<!-- End account management section -->