<!-- Modal used in account deletion -->
<div class="modal fade" id="account-delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete my account</h4>
            </div>
            <div class="modal-body">
                <p>Once the account is deleted, there is no going back.</p>
            </div>
            <div class="modal-footer">
                <button id="account-delete-modal-btn" class="btn btn-danger btn-small">
                    <i class="fa fa-trash-o"></i> Delete account anyway
                </button>
                &nbsp;
                <button class="btn btn-default btn-small" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->